.mainTitle {
  text-align: center;
}

.linkWrapper {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.linkWrapper a {
  text-decoration: none;
}

.buttonInner {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #34495E;
  background-color: #E5E7E9
}

.buttonInner:hover {
  background-color: #5D6D7E;
  color: #E5E7E9
}

.buttonInner:active {
  background-color: #2E4053;
  color: #F8F9F9
}
